.App {
  text-align: center;
  background:url("https://previews.dropbox.com/p/thumb/AAn8pQ9GkoZh1eEx6lQanyoEwmIGCW6wXbsiGtP407N9FpynTeB-edgkD2fYz044OuBG54dGereAXHqN6-FS_BBTmE8bSH7Tj8rhseUCNH287gQXZAIqIFF0eZdXICaMiNg1jSH08EdU88JqiLvk-jWi-nRWIk_gKHjtYncXcES0VHRJ8wLXXjbkowHfuJzsXRYcSF_e_J9l_txkjXFQNgV1zHdb8O2V5UPweLoL9ngJ-IhW3odGNgA0BtfEXy0VVFlUNHCXQIbHmCu2ewZ1PeXe0tBAX2nD-4MO77riQ36Ws6cBqJeabDcXFMQS9Sxj7JhwCncKKTxscxtQ_qrJAxDG/p.png?size=2048x1536&size_mode=3");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.name{
  margin-top: 0px;
  margin-left: -200px;
  
}

.App-link {
  color: #09d3ac;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: lightsalmon;
}

.topbox{
  display: flex;
  flex-direction: row;
  justify-content: center
}

.logo{
  text-align: center;
  width: 500px;
  align-items: center;
  background: transparent;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  justify-content: space-between;
  margin-left: -180px;
}

.break{
  length: 100px;
  height: 100px;
  padding: 10px;
}

.ui{
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 600px;
}

.uipage{
  padding: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 20px;
  border-left: transparent;
  border-bottom:transparent;
  border-right: transparent;
  border-color: lightgray;
  margin-top: 10px;
}

.phone{
  width: 500px;
  height: 400px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: lightcoral;
}

.slogan{
  font-size: 40px;
  color: lightsalmon;
}

.buttonBox{
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

button{
  width: 200px;
  height: 100px;
  border-style: solid;
  border-radius: 20px;
  background:lightsalmon;
}

.description{
  margin-top: -40px;
}
